{% extends 'base.html' %}
{% block title %}
Профайл пользователя {{ context }}
{% endblock %}
{% block content %}
      <div class="container py-5">        
        <h1>Все посты пользователя {{ post.author.username }} </h1>
        <h3>Всего постов: {{ post_count }} </h3>
        {% for post in users_post %}   
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
              <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{post.pub_date}} 
            </li>
          </ul>
          <p>
          {{post.text}}
          </p>
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
        </article>
        {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}        
        <hr>
        {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->
        {% include 'posts/includes/paginator.html' %}  
      </div>
{% endblock %}